@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2 {
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

li {
   
    font-family: 'Open Sans', sans-serif;
    list-style: circle;
}

p {
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1024px) {
    #check__menu{
    display: none;
}

    .nav__link {
    padding: 20px 0;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    display: block;
}

.nav__list_item {
    margin-left: 25px;
    list-style: none;
}


.nav__list {
    margin: 0;
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
}

.menu {
    background-color: rgba(72, 61, 139, .8);
}

.header__flex {
    background: #DDA0DD;
    display: flex;
}
.avatar {
    border-radius: 50%;
    height: 300px;
}

.name {
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.header__text {
    text-align: end;
}

.about__me {
   padding-right: 20px;
}

.side {
    display: flex;
}

.aside {
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 265px;
    padding-top: 20px;
    background-color: #D8BFD8;
}

.code {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    padding-top: 35px;
    background-color: #E6E6FA;
    size: inherit;
}

.projects__item {
    text-decoration: none;
    color: #E6E6FA;
    font-family: 'Open Sans', sans-serif;
}

.projects__image {
    width: 100%;
    size: inherit;
    padding-left: 10px;
    padding-right: 10px;
}
}

@media (max-width: 767px) {
.header__wrapper {
margin: 0 auto;
background-color: rgba(72, 61, 139, .8);
position: relative;
text-align: center;
color: #E6E6FA;
height: 40px;
}

#check__menu{
    display: none;
}

.label {
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    line-height: 40px;
}

.burger__line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    transition: .5s all;
}

.second, .third {
    top: 18px;
}

.fourth {
    top: 28px;
}

.menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .9);
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.nav__list {
    display: block;
}

.nav__link_burger {
display: block;
width: 100%;
padding: 10px;
color: #483D8B;
text-decoration: none;
border-bottom: 1px solid #483D8B;
}

#check__menu:checked ~ .menu {
min-height: 300px;
font-size: 16px;
}

#check__menu:checked ~ .first {
    display: none;
}

#check__menu:checked ~ .second {
    transform: rotate(45deg);
}

#check__menu:checked ~ .third {
    transform: rotate(-45deg);
}

#check__menu:checked ~ .fourth {
    display: none;
}

.header__flex {
    background: #DDA0DD;
    display: block;
}

figure {
    margin-top: 0;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    /* margin-top: 50px; */
    margin: auto;
    display: block;
}

.name {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.header__title {
    text-align: center;
    padding-left: 0;
}

.header__text {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.about__me {
   padding-right: 20px;
}

.side {
   
    display: block;
}

.aside {
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background-color: #D8BFD8;
}

.code {
    display: block;
    margin-right: 20px;
    size: inherit;
}

.projects__item {
    text-decoration: none;
    color: #E6E6FA;
    font-family: 'Open Sans', sans-serif;
}

.projects__image {
    width: 100%;
    size: inherit;
    padding-left: 10px;
    padding-right: 10px;
}

.footer__bg {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background: #483D8B;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


}

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 100px;
}

.nav {
    background-color: #483D8B;
    padding: 15px;
}

.header__info {
    margin-right: 40px;
    margin-left: 20px;
}


.main {
    height: 100%;
    background-color: #9370DB;
}

.main__code {
    margin-top: 0;
    padding-top: 35px;
}

.contacts__link {
    display: block;
    text-decoration: none;
    color:black ;
}

.language {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.education__style {
    padding-left: 30px;
    padding-right: 20px;
}

.footer__bg {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background: #483D8B;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
